.tools{
  width:50px;
  position: absolute;
  top:0;
  margin-top:20px;
  .active{
    background-color:black;
  }
  li{
    &:first-child{
      border-top:0;
    }
    border-top: 1px solid #747977;
    cursor: hand;
    width: 100%;
    height: 50px;
    img{
      padding: 30%;
      width: 40%;
    }
  }

}
