.entry-inner {
  border-top: 1px solid #747977;
  background-color:#202123;
}

.Collapsible:first-of-type > .entry-trigger{
  border-top: 0;
}

.entry-trigger {
  border-top: 1px solid #747977;
}

.ShipEntriesInner {
  overflow-y: auto;
  height:100%;
  width:300px;
}

.centerLabel{
  padding-top:10px;
  text-align:center;
}
