.timeline{
  .top,.bottom{
    right:0;
    left:0;
    position:absolute;
    padding: 0 0 0 10px;
  }

  .top{
    background-color:#202123;
    top:0;
    height:30px;
    line-height:30px;

    .labels{
      text-align:center;
      color:#3e474b;
    }
  }

  .bottom{
    background-color:#17181a;

    bottom:0;
    height:40px;

    .slider-container{
      padding-top:13px;
      padding-left: 4%;
      padding-right: 4%;
    }
  }
  .duration-input{
    margin-left: -40px;
    padding:10px 0px 10px 0;
    span{
      font-size:80%;
    }
    input{
      height: 20px;
      width: 50%;
      text-align: center;
    }
  }
}
